<launch>

    <rosparam file="$(find pl2i2-slam)/config/m2dgr/params_lidar.yaml" command="load" />

    <node pkg="pl2i2-slam" type="pl2i2_imageProjection" name="pl2i2_imageProjection" output="screen" respawn="true"/>
    <node pkg="pl2i2-slam" type="pl2i2_featureExtraction" name="pl2i2_featureExtraction" output="screen" respawn="true"/>
    <node pkg="pl2i2-slam" type="pl2i2_mapOptimization" name="pl2i2_mapOptimization" output="screen" respawn="true"/>

</launch>